body{
padding:20px;
}
.slides{
position:relative:
width:500px;
height:300px;
padding:20px;
}

.slides img{
 position absolute;
 top:0px;
 left:0px;
 z-index:-2;
}

.slides.top{
z-index:-1;
}